*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color:  #e7e7e7;
    padding-top: 100px;
}

.container
{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header
{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img
{
    height: 36px;
    margin-right: 16px;
}

header h1
{
    font-size: 40px;
    font-weight: bold;
}

form
{
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input,
form button
{
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

form input
{
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #000000;
}

form button
{
    font-weight: bold;
    color: #ffffff;
    background-color: #009432;
    border: none;
    cursor: pointer;
}

table
{
    width: 100%;
}

table th
{
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #000000;
}

table td
{
    padding: 16px 0;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table td img
{
    height: 30px;
}

.resultado
{
    padding: 8px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
}

.aprovado
{
    background-color: #009432;
}

.reprovado
{
    background-color: #ff0000;
}